:root {
    --text-color: #828282;
    --border-color: #e0e0e0;
    --primary-color: #2f00ed;
    --b: 3px;   /* border thickness */
    --s: .45em; /* size of the corner */
    --color: #373B44;
}

*{
    box-sizing: border-box;
    font: inherit;
    color: inherit;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: #222;

    background-size: cover;
}
.background-overlay {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
p {
    max-width: 600px;
}

#container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 24px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
    align-items: center;
}

.logo-container {
    grid-column: 1/5;
}

.panel-container {
    min-height: calc(100vh - 0.1px);
    grid-column: 6/12;
}

.panel {
    background-color: white;
    padding: 24px;
    border-radius: .65rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}

.panel_h1 {
    font-size: 24px ;
    font-weight: 700;
    margin: 0;
}

a {
    color: var(--primary-color);
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: red;
}

.text-i {
    margin: 0;
    font-size: 12px;
    color: var(--text-color);

    margin-top: 8px;
    margin-bottom: 24px;
}

.input {
    margin-bottom: 20px;
    position: relative;
}

.input label {
    font-size: 12px;
    color: var(--text-color);
    display: block;
}

.input input {
    border: none;
    border-bottom: 1px solid var(--border-color);
    min-width: 50%;
    outline: none;
    padding: 0;
    height: 28px;
}

.input_indicator {
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 2px;
    width: 0;
    background-color: var(--primary-color);

    transition: all .5s ease-in-out;
}

.input input:focus ~ .input_indicator {
    left: 0;
    background-color: var(--primary-color);
    width: 100%;
}

.name {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

.dob_h {
    font-size: 12px;
    color: var(--text-color);
    font-weight: 700;
    margin: 0;
    margin-bottom: 8px;
}

.dropdown label {
    font-size: 12px;
    color: var(--text-color);
    display: block;
}

.dropdown select {
    width: 100%;
    padding: 0;
    height: 28px;
    margin: 0;
    border: none;
    border-bottom: 1px solid var(--border-color);
} 

.dob_input {
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    
}

.disclaimer {
    font-size: 12px;
    margin-bottom: 40px;
    color: var(--text-color);
    margin: 0;
    padding: 0;
}


/* CSS */
button {
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;
  margin: 0 auto;
  margin-top: 4px;
  display: flex;
  justify-content: center;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover,
button:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

button:active {
  background: var(--color);
  color: #fff;
}